<section>
    <a href="/dashboard"> &larr; back to dashboard</a>
    <h2>Create A Blog post</h2>
    <form class="new post-form">
        <div>
            <lable for="post=title">Title</label>
            <input type="text" name="post-title" id="post-title">
            </div>
            <div>
                <label for="post-body">Blog post Text</label>
                <textarea name="post-body" id= "post-body" cols="30 rows="10></textarea>
            </div>
            <button type="submit" class="btn"><i class="fas fa-plus"></i> Create post</button>
    </form>
</section>
<script src="/javascript/add-post.js"></script>